@model EncoOrszag.Models.OrszagOverviewViewModel
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
   <div>
      <h2>@Model.Name</h2> 

       <p><b>Népesség:</b> @Model.Nepesseg</p>
       <p><b>Arany:</b> @Model.Arany</p>
       <p><b>Krumpli:</b> @Model.Krumpli</p>
       <p><b>Pontszám:</b> @Model.Pontszam</p>



       <table class="table table-striped">
           <thead>
               <tr>
                   <th>Épületek</th>
                   <th>Darab</th>
               </tr>
           </thead>
           <tbody>
               @foreach (var item in Model.Epuletek)
               {
                   <tr>
                       <td>@item.Key</td>
                       <td>@item.Value</td>
                   </tr>
               }
           </tbody>
       </table>

       <table class="table table-striped">
           <thead>
               <tr>
                   <th>Egységek</th>
                   <th>Darab</th>
               </tr>
           </thead>
           <tbody>
               @foreach (var item in Model.Egysegek)
               {
                   <tr>
                       <td>@item.Key</td>
                       <td>@item.Value</td>
                   </tr>
               }
           </tbody>
       </table>

       <table class="table table-striped">
           <thead>
               <tr>
                   <th>Fejlesztések</th>
                   <th>Kifejlesztve</th>
               </tr>
           </thead>
           <tbody>
               @foreach (var item in Model.Fejlesztesek)
               {
                   <tr>
                       <td>@item.Key</td>
                       <td>@item.Value</td>
                   </tr>
               }
           </tbody>
       </table>
   </div>
</div>