@model EncoOrszag.Models.EpitesViewModel
@{
    ViewBag.Title = "Építés";
}

<h2>Építés</h2>

@Html.ValidationSummary()
@using (Html.BeginForm()) {
<table class="table">
    <thead>
        <tr>
            <th>Épület</th>
            <th>Építési Idő</th>
            <th>Jelenleg Van</th>
            <th>Jelenleg Épül</th>
            <th>Hátralévő körök</th>
            <th>Építés</th>
            
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Epuletek.Count; i++)
        {
            var item = Model.Epuletek[i];
            <tr>
                <td>
                    @item.Name
                    @Html.HiddenFor(m => Model.Epuletek[i].Name)
                    @Html.HiddenFor(m => Model.Epuletek[i].Id)
                </td>
                <td>
                    @item.Ido
                    @Html.HiddenFor(m => Model.Epuletek[i].Ido)
                </td>
                <td>
                    @item.JelenlegVan
                    @Html.HiddenFor(m => Model.Epuletek[i].JelenlegVan)
                </td>
                <td>
                   <span class="keszul">false</span>
                </td>
                <td>
                    @item.Hatravan
                    @Html.HiddenFor(m => Model.Epuletek[i].Hatravan)
                </td>
                <td>
                    <input type="submit" class="btn btn-success" value="Építés" id="vasarlas" />
                </td>
               
            </tr>
        }
        <tr>
            <td colspan="6" id="epithetsz"></td>
            
        </tr>
    </tbody>
</table>
}

